h1{
    text-align: center;
    background-color: #fea116;
    padding: 10px;
}
.Register-form-container {
    height:450px;
    width:400px;
    padding: 10px;
    margin: 40px auto;
    border: 1px solid #fea116;
    text-align: center;
    border-radius: 5px;
    background-color: #f7f9fd;
  }
  .input-box{
    font-size: 15px;
    width: 200px;
    padding: 10px;
    margin:  7px;
    margin-top: 10px;
  }
  #input-box-two{
    width: 200px;
  }
  .login-btn{
    width:100px;
    padding: 10px;
    margin: 30px 5px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
  }
 .login-btn:hover{
    background-color: #fea116;
    box-shadow: 5px 8px burlywood ;
    border-radius: 6px;
  }